.bg-oryx {
    background-image: url("backgrounds/bg-oryx.jpg");
    background-size: 100%;
}

.bg-trans {
    background-image: url("backgrounds/bg-trans.jpg");
    background-size: 100%;
}

.bg-skuld {
    background-image: url("backgrounds/bg-skuld.jpg");
    background-size: 100%;
}

.bg-gradient{
    background-image: radial-gradient(white, darkslategrey, black);
}

img {
    width: 70px;
    float: right;
  }

.graph{
    background-color: rgba(0, 0, 0, 0.8);
    height: 1250px;
}

.form{
    color:white;
    background-color: rgba(20, 20, 20, 0.9);
    width: fit-content;
    padding: 6px;
}

.form > *{
    margin: 2px;
}

.stat-input{
    max-width: 40px;
}

.center{
    margin: 0 auto;
}

.center-btn{
    width: 100px;
    margin: 0 auto;
}